<main>
  <h1>{{title}}</h1>
  <h2>Pick a Flower</h2>
  <div id="image_list">
    <img *ngFor="let f of flowers; let i=index;"
         [ngClass]="(flowers[i].label === flower.label)?'thumb selected':'thumb'"
         [src]="f.smallImgSrc"
         (click)="selectFlower(i)">
  </div>
  <p>
    <span class="flower_label">Flower:</span>
    <span class="flower_name">{{flower.label}}</span>
  </p>
  <p><img [src]='flower.largeImgSrc' [alt]='flower.label' class='flower_image'></p>
</main>
<app-footer></app-footer>
